.projects {
  list-style-type: none;
  margin: 0;
}

.project {
  margin: 1rem 0;
  display: flex;
  background-color: #f4f4f4;
  padding: 1rem;
  
  p {
    color: #777777;
    font-size: .8rem;
    font-style: italic;
  }
}

.title-link {
  color: #3b3b3b;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center; 
}

.list-icon {
  color: #ba2d65;
  align-self: center;
  margin-right: 1rem;
}

.link-list {
  display: flex;
  list-style: none;
  margin-left: 0;
  li {
    margin-right: 1rem;
    a {
      font-size: 1.3rem;
      color: #ba2d65;
    }

    a:hover {
      color: #f06292;
    }
  }
}