.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #3b3b3b;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon {
  max-height: 2rem;
  color: #ff94c2;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #3b3b3b;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.active-nav-item {
  color: #ba2d65;
}

